# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\wiktor\Acer projekty i pliki\pulpit\Foldery\UG uczelniane\UG przedmioty rok 2\sem2\inteligencja obliczeniowa\morawski-wiktor\Projekt_labirynt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
